@import '../../../styles/colors.scss';

#top-bar {
  width: 100vw;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.4rem 0rem;

  position: fixed;
  top: 0;
  right: 0;
  transition: 0.2s;

  /* Makes the bar draggable */
  -webkit-user-select: none;
  -webkit-app-region: drag;
  
  button {
    /* prevent draggin on buttons */
    -webkit-app-region: no-drag;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: $red;
    border-bottom: 3px solid #EFEFEF;
    border-radius: 2px;
    border-width: 0px;
    
    margin: 0rem 0.4rem;

    transition: 0.1s;

    width: 1.2rem;
    height: 1.2rem;

    opacity: 0.9;

    img {
      width: 0.8rem;
      height: 0.8rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}